.responsive-image{
    max-width: 50%;
    height:auto;
    border-radius: 25px
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.center-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}