@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.responsive-image {
    max-width: 500px; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
    height:auto;
    border-radius: 75px;
    padding-top: 20px;
    padding-bottom: 20px
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.center-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Centers the content horizontally */
    padding: 0 15px; /* Provides some space on the sides at small screen sizes */
  }
  

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
  }
  
  .item {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5em;
  }
  
  .centered-video iframe {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px
}

.bio-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.videoelement video {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: black;
}

.navbar-brand, .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
