.responsive-image{
    max-width: 500px; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
    height:auto;
    border-radius: 75px;
    padding-top: 20px;
    padding-bottom: 20px
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.center-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.container {
    max-width: 500px;
}